/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
public/vendor/telescope
storage/framework/views/*
.php-cs-fixer.cache


# Laravel IDE Helper files
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
app/Http/Controllers/Settings/BillingController.php
database/migrations_old/2025_06_13_101809_create_merchant_plans_table.php
database/migrations_old/2025_07_14_121108_create_product_categories.php
database/migrations_old/2025_07_15_165946_create_units_table.php
database/migrations_old/2025_07_17_130718_create_merchant_type_product_category_table.php
database/migrations_old/2025_07_24_132807_create_product_variations_table.php
database/migrations_old/2025_07_24_133131_create_product_variation_values_table.php
database/migrations_old/2025_07_24_133140_create_product_types_table.php
database/migrations_old/2025_07_24_133155_create_products_table.php
database/migrations_old/2025_07_24_133439_create_product_variation_options_table.php
database/migrations_old/2025_07_24_133512_create_product_variation_option_values_table.php
database/migrations_old/2025_07_24_133643_create_product_combinations_table.php
database/migrations_old/2025_07_25_085859_create_category_product_table.php
database/migrations_old/2025_07_25_110331_create_notifications_table.php
database/migrations_old/2025_09_19_044707_create_subscription_invoices_table.php
database/migrations_old/2025_09_22_105903_create_subscription_invoice_items_table.php
database/migrations_old/2025_09_23_003937_create_subscription_payments_table.php
database/migrations_old/2025_09_26_101247_add_merchant_subscription_id_to_subscription_invoices.php
database/migrations_old/2025_11_07_142729_create_categories_table.php
